.top-align {
    margin-top: 2% !important;
}

.top-align-button {
    margin-top: 3% !important;
}

.top-align-input {
    margin-top: 3% !important;
}

.input-right-align {
    margin-left: 10% !important;
}

.button-right-align {
    margin-left: 15% !important;
}