<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">AngularTwitterClone</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto button-right-align">
      <li class="nav-item">
        <button class="btn btn-success" (click)="onDetail()">My Profile</button>
      </li>
    </ul>
    <form [formGroup]="searchForm" class="top-align" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input
        class="form-control mr-sm-2 top-align-input"
        type="search"
        placeholder="Search User"
        id="search"
        formControlName="search"
      />
      <button class="btn btn-success my-2 my-sm-0 top-align-button" type="button" (click)="searchUser()">Search</button>
    </div>
    </form>
  </div>
</nav>
