<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
      *ngIf="!isLoading"
    >
      <app-navbar></app-navbar>
      <hr />
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <h4><em>If you are registered, you can sign in here!</em></h4>
        <hr />
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your e-mail address"
            formControlName="email"
          />
          <small
            class="col-sm"
            *ngIf="!signinForm.get('email').valid"
            class="help-block"
            ><i>Please enter a valid e-mail address!</i>
          </small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          />
          <small *ngIf="signinForm.get('password').errors?.required">
            <i>This field is required!</i>
          </small>
        </div>
        <button
          type="button"
          [disabled]="signinForm.invalid"
          class="btn btn-primary"
          (click)="signIn()"
        >
          Sign In
        </button>
        |
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/register']"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
