<div class="container-sm">
  <h4>If you are registered, you can login here!</h4>
  <hr />
  <!-- [(ngModel)]="currentUser.email" -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control col-md-3"
        id="email"
        placeholder="Enter your e-mail address"
        ngModel
        name="email"
        required
        email
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <!-- [(ngModel)]="currentUser.password" -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control col-md-3"
        id="password"
        placeholder="Enter your password"
        ngModel
        name="password"
        required
        password
        minlength="6"
      />
    </div>
    <!-- [routerLink]="['/post-screen']" -->
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Login
    </button>
    |
    <button type="submit" class="btn btn-primary" [routerLink]="['/register']">
      Sign Up
    </button>
  </form>
</div>
