<button
class="btn btn-outline-primary"
type="button"
id="button-addon2"
(click)="goBack()"
>
Go Back
</button>
<!-- <h4 *ngIf="posts.length === 0">No post yet</h4> -->

<hr />
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Here to add post"
    aria-label="Recipient's username"
    aria-describedby="button-addon2"
    [(ngModel)]="loadedPosts.text"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-primary"
      type="button"
      id="button-addon2"
      (click)="onCreatePost()"
    >
      Add
    </button>
    |
    <button
      class="btn btn-outline-primary"
      type="button"
      id="button-addon2"
      (click)="onFetchPosts()"
    >
      Fetch
    </button>
  </div>
</div>
