<button
  class="btn btn-outline-primary"
  type="button"
  id="button-addon2"
  (click)="goBack()"
>
  Go Back
</button>
<div>
  <app-post
    (deleteCard)="deletePost($event)"
    *ngFor="let post of loadedPosts; let i = index"
    [post]="post"
    [i]="i"
  >
  </app-post>
</div>
<hr />
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Here to add post"
    [(ngModel)]="myPost.text"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" (click)="add()">
      Add
    </button>

    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="onFetchPosts()"
    >
      Fetch
    </button>
  </div>
</div>
