<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="goBack()"
      >
        Go Back to Main Page
      </button>
      <hr>
      <app-post
        (deleteCard)="deletePost($event)"
        *ngFor="let post of loadedPosts; let i = index;"
        [post]="post"
        [indexOfPost]="i"
        [auth]="isAuth(i)"
      >
      </app-post>
      <hr>
      <input
        type="text"
        class="form-control"
        placeholder="Write here your post"
        [(ngModel)]="currentUser.text"
      />
      <hr>
      <button
        class="btn btn-primary"
        type="button"
        (click)="onCreatePost()"
      >
        Add Post
      </button>
    </div>
  </div>
</div>
