<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand">NAME SURNAME GELECEK</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline my-2 my-lg-0 right-align">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search User"
                  aria-label="Search"
                />
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        <hr>
        <!-- <app-post
          (deleteCard)="delete($event)"
          *ngFor="let post of loadedPosts; let i = index"
          [post]="post"
          [indexOfPost]="i"
          [auth]="isAuth(i)"
        >
        </app-post>
        <hr />
        <input
          type="text"
          class="form-control"
          placeholder="Write here your post"
          [(ngModel)]="currentUser.text"
        />
        <hr />
        <button class="btn btn-primary" type="button" (click)="onCreatePost()">
          Add Post
        </button> -->
      </div>
    </div>
  </div>
