<div class="card bg-light mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h5 class="card-title">{{ item.id }}</h5>
      </div>
      <div class="col-sm">
        <h6 class="card-subtitle text-muted text-right yasla">
          {{ item.time | date: "HH:mm" }}
        </h6>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">{{ item.author }}</h6>
    <p class="card-text">{{ item.text }}</p>
    <button *ngIf="isAuth" class="btn" (click)="delete()">Delete</button>
  </div>
</div>
