<div class="card bg-light mb-3" *ngFor="let item of loadedPosts; let i = index">
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h6 class="card-title">{{ item.id }}</h6>
        </div>
        <!-- <div class="col-sm">
          <h6 class="card-subtitle mb-2 text-muted text-right yasla">{{item.timeStamp | date: 'HH:mm'}}</h6>
        </div> -->
      </div>
      <h6 class="card-subtitle mb-2 text-muted">{{ item.author }}</h6>
      <p class="card-text">{{ item.text }}</p>
      <!-- <button *ngIf="isUser(i)"  class="btn btn-primary" (click)="deletePost(i)">Delete</button> -->
    </div>
  </div>