<div class="container text-center">
  <h1>{{ title }}</h1>
</div>
<div class="container">
  <div class="row">
    <div
      class="search-user col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
    >
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching for an user by name or surname or email"
      />
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail Address</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let hero of heroes | filter:searchText">
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.country}}</td>
        </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
